<div class="container-fluid">  
  
  <div class="row">
{{!-- Ready to Eat Card --}}
    <div class="col-md-4">
      <div class="card">
        <h4 class="card-header text-center">Ready to eat!</h4>
        <div class="card-body">
          {{#each burgers}}
            {{#unless devoured}}
              <div class="input-group my-4">
                <li class="form-control">{{id}}. {{burger_name}}</li> <button class="btn btn-primary devour-button ml-3" data-id="{{id}}" type="submit">Devour It!</button>  
              </div>
            {{/unless}}
          {{/each}}
        </div>
      </div>
    </div>
{{!-- Add Burger Card --}}
    <div class="col-md-4">
        <div class="card">
          <h5 class="card-header text-center">Request a new burger and place your order!</h5>            
            <div class="card-body text-center">         
              <div class="form-group">
                <label for="new_burger"></label>
                <textarea class="form-control text-center" rows="4" id="new_burger" name="burger_name" placeholder="Add Delicious Burger to Devour!!!"></textarea>
                <button id="submit-button" type="submit" class="btn btn-info mx-auto mt-4"><i class="fas fa-utensils"></i> Add Burger!</button> 
              </div> 
            </div>
        </div>  
      </div> 

{{!-- Already Eaten Card --}}
    <div class="col-md-4">
      <div class="card">
        <h4 class="card-header text-center">Already Eaten!</h4>
        <div class="card-body">
          {{#each burgers}}
            {{#if devoured}}
              <div class="input-group my-4">
                <li class="form-control">{{id}}. {{burger_name}}</li><button class="btn btn-primary restore-button ml-3" data-id="{{id}}" type="submit">Ready for Seconds</button>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div> 
    </div>

  </div> 
</div>
